@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import "../component/home/home.component.scss";


section {
    background-image: url('../../assets/backgroundflat.png');
    height: 100vh;
}
.text-main {
    text-align: center;
    p {
        line-height: 25px;
    }
}

.secondcolum {
    text-align: end
}

.photo-text {
        margin-top: 0px!important;
    
}

.second-section {
    background-color: #F4DFBC;
}

.rowbackground {
    background-image: url('../../assets/background-home.png');
    background-repeat: no-repeat;
}

button {
    width: 200px;
    height: 60px;
    font-family: Raleway;
    font-size: 21px;
    font-weight: 900;     
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
button:hover {
box-shadow: 0px 0px 10px #E0745F;;
}

.black:hover {
box-shadow: 0px 0px 10px #2B3146!important;
}

.black {
    margin-top: 30px;
border: none;
background-color: #2B3146;
color: white;
}


