<app-header> </app-header>

<section>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="text-main">
            <h1>Why Pilates ?</h1>
            <p>
              “Pilates develops the body uniformly, corrects wrong postures,
              restores physical vitality, invigorates the mind and elevates the
              spirit.” -Joseph H. Pilates.
            </p>
          </div>
        </div>
        <div class="col-6 secondcolum">
          <div class="photo">
            <img
              src="../../assets/660f413f93af80ba4cfb20112557c7ab-leg-stretch-pilates-reformer-silhouette-by-vexels.png"
              alt=""
            />
          </div>
          <div class="text-main photo-text">
            <p>
              Using a wide-range of spring resistance equipment, these classes
              will challenge your body in every way possible. From strengthening
              deep core muscles to developing powerful arms and legs to
              increasing endurance, your body will be truly transformed.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="text-main">
            <h1>GET REFORMATION STRONG</h1>
            <p>
              We firmly believe that smaller classes yield better results for
              our clients. Since 2013, members have enjoyed the hands-on
              attention from our world-class professional trainers, while
              enjoying the high-energy and welcoming community that comes from
              small group classes.
            </p>
          </div>
          <button class="black">BOOK A CLASS</button>
        </div>
      </div>
<div class="row">
    <div class="col-12">
        <app-footer></app-footer>
    </div>
</div>
    </div>
  </article>
</section>


