<app-header></app-header>

<section>
  <article>
    <div class="container">
      <div class="row marginHome mobileHome">
        <div class="col-lg-4 col-sm-12 col-xs-12 col-md-12 ">
          <div class="text-main">
            <h1>Group & Private Classes <br /></h1>
            <div class="row mobile-version">
           
              <div class="col-lg-11 col-sm-12 col-xs-12 col-md-12 main-photo">
                <!-- <img
                  src="../../../assets/studio/IMG_9172.jpg "
                  alt=""
                /> -->
              </div>
            </div>
            <p>
              The benefits of Pilates are revealed more quickly when performed consistently. Acquire long, lean musculature, core strength and improved posture 
               – <span>get started now and start feeling better.</span> 
            </p>
          </div>
       
          <div class="row buttons desktop-version">
            <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
              <button class="black" [routerLink]="['/prices']">PRICES</button>
              
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
              <button class="oragen" (click)="goToUrl()">BOOK A CLASS</button>
            </div>
          </div>
        </div>
        <div class="row mobile-version  buttonsMobile ">
          <div class="col-12 buttons ">
            <button class="oragen" (click)="goToUrl()">BOOK A CLASS</button>

            <button class="black" [routerLink]="['/prices']">PRICES</button>

          </div>
        </div>
        <div class="col-lg-8 col-sm-12 col-xs-12 col-md-12 background-image">
          <div class="row desktop-version">
           
            <div class="col-lg-11 col-sm-12 col-xs-12 col-md-12 main-photo">
              <img
              class="img-fluid"
                src="../../../assets/studio/IMG_9172.jpg " 
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row rowCards desktop-version">
        <div class="col-12 newCards">
        
      <div class="container2">
        <div class="card" (click)="goToUrl()">
          <h3 class="title">Small group <br> <span style="font-size: 14px;"> (3 person)</span></h3>
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="row subtitle-span">
            <div class="col-12">
              <h1 style="font-size: 20px; margin-top: 10px; font-weight: 300;">  Reformer, chair, cadillac & ladder barrel   </h1>
              <span> $29</span>
              <p> * on a package deal  </p>

            </div>
            
          </div>
        
        </div>
        <div class="card card2">
          <h3 class="title">Group sessions <br> <span style="font-size: 14px;"> (5 person)</span></h3>
          <div class="bar bar2">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="row subtitle-span">
            <div class="col-12">
              <h1 style="font-size: 20px; margin-top: 10px; font-weight: 300;">  Mat Pilates   </h1>
              <span> $20</span>
              <p> * on a package deal  </p>

            </div>
          </div>
        </div>
        <div class="card card3 ">
          <h3 class="title">Private session </h3>
          <div class="bar bar3">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="row subtitle-span">
            <div class="col-12">
              <h1 style="font-size: 20px; margin-top: 10px; font-weight: 300;">  Reformer, chair, cadillac & ladder barrel   </h1>
              <span> $50</span>
              <p> * on a package deal  </p>

            </div>
          </div>
        </div>
        <div class="card card4">
          <h3 class="title">Online session </h3>
          <div class="bar bar3">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <div class="row subtitle-span">
            <div class="col-12">
              <h1 style="font-size: 20px; margin-top: 10px; font-weight: 300;">  Mat Pilates online  </h1>
              <span> $18</span>
              <p> * on a package deal  </p>

            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <div class="row mobile-version" >
    <div class="col-12">
      <div class="cards">
        <div class="row">
    
          <div class="col-lg-4 col-sm-12 col-xs-12 col-md-12 ">
            <div class="card card2">
              <div class="row card-text">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                  <!-- <span>3 persons</span> -->
                </div>
              </div>

              <div class="row subtitle-card">
                <div class="col-12">
                  <h1 >SMALL GROUP  <span style="font-size: 16px;">(3 person)</span></h1>
                </div>
              </div>

              <div class="row subtitle-span">
                <div class="col-12">
                  <h1 style="font-size: 20px; margin-top: 10px; font-weight: 300;">  Reformer, chair, cadillac & ladder barrel   </h1>
                  <span> $29</span>
                  <p> * on a package deal  </p>
                </div>
              </div>

              <a href="#" class="btn" (click)="goToUrl()">Check it out</a>
            </div>
            <!--/card-->
          </div>

         
          <div class="col-lg-4 col-sm-12 col-xs-12 col-md-12">
            <div class="card card1">
              <div class="row card-text">
                <div class="col-12">
                  <!-- <span>For all ages</span> -->
                </div>
              </div>

              <div class="row subtitle-card">
                <div class="col-12">
                  <h1>PRIVATE SESSIONS</h1>
                </div>
              </div>

              <div class="row subtitle-span">
                <div class="col-12">
                  <h1 style="font-size: 20px; margin-top: 10px; font-weight: 300;">  Reformer, chair, cadillac & ladder barrel   </h1>
                  <span> $50</span>
                  <p> * on a package deal  </p>
                </div>
              </div>

            

              <a href="#" class="btn" (click)="goToUrl()">Check it out</a>
            </div>
            <!--/card-->
          </div>

          <div class="col-lg-4 col-sm-12 col-xs-12 col-md-12">
            <div class="card card3">
              <div class="row card-text">
                <div class="col-12">
                  <!-- <span>for a discount</span> -->
                </div>
              </div>

              <div class="row subtitle-card">
                <div class="col-12">
                  <h1>GROUP SESSIONS <span style="font-size: 16px;">(5 person)</span></h1>
                </div>
              </div>

              <div class="row subtitle-span">
                <div class="col-12">
                  <h1 style="font-size: 20px; margin-top: 10px; font-weight: 300;">  Mat Pilates   </h1>
                  <span> $20</span>
                  <p> * on a package deal  </p>
                </div>
              </div>

              <a href="#" class="btn" (click)="goToUrl()">Check it out</a>
            </div>
            <!--/card-->
          </div>

          <div class="col-lg-4 col-sm-12 col-xs-12 col-md-12">
            <div class="card card4">
              <div class="row card-text">
                <div class="col-12">
                  <!-- <span>for a discount</span> -->
                </div>
              </div>

              <div class="row subtitle-card">
                <div class="col-12">
                  <h1>ONLINE SESSIONS</h1>
                </div>
              </div>

              <div class="row subtitle-span">
                <div class="col-12">
                  <h1 style="font-size: 20px; margin-top: 10px; font-weight: 300;">  Mat Pilates online  </h1>
                  <span> $18</span>
                  <p> * on a package deal  </p>
                </div>
              </div>

              <a href="#" class="btn" (click)="goToUrl()">Check it out</a>
            </div>
            <!--/card-->
          </div>
       
        </div>
      </div>
    </div>
  </div>

      <div class="container testemonials">
        <div class="row">
            <div class="col-12">
                <div class="text-main text-testemonials ">
                    <h1 >Testimonals</h1>
                </div>
               
            </div>
        </div>
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" *ngIf="carro == 0">
                    <div class="carousel-caption"  >
                        <p >‘Since I started practising Pilates with Val, my life has changed significantly. I used to suffer with terrible back pain, now not only has my pain disappeared, my flexibility and strength have improved tremendously’. </p> 
                        <img src="../../../assets/vanessa.jfif" class="img-fluid"  >
                        <div id="image-caption" >Vanessa Amorim</div>
                    </div>
                </div>
                <div class="carousel-item active" *ngIf="carro == 1">
                    <div class="carousel-caption"  >
                        <p >Most studios in Sydney run large classes with over 20 people. I love how the classes at Vida Pilates are small and focused on my individual needs.  .</p>
                         <img src="../../../assets/gi.png" class="img-fluid" >
                        <div id="image-caption" >Gi Simon</div>
                    </div>
                </div>
                <div class="carousel-item active" *ngIf="carro == 2">
                    <div class="carousel-caption">
                        <p>Val is the best teacher in the world</p> <img src="../../../assets/Ge.png" class="img-fluid">
                        <div id="image-caption">Ge Costa</div>
                    </div>
                </div>
            </div> <a class="carousel-control-prev" data-slide="prev" (click)="onPrevious()" > <i class='fas fa-arrow-left'></i> </a> <a class="carousel-control-next"  data-slide="next"  (click)="onNext()" > <i class='fas fa-arrow-right'></i> </a>
        </div>
    </div>
    </div>
  </article>
</section>

 


<app-footer></app-footer>

