<app-header></app-header>
<section>
  <div class="container">
    <div class="row cardsPrice firstCard">
      <div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 mobileFlex">
        <div class="cardsPrices">
          <h1>Semi-private (3 person)</h1>
          <p style="color: black;">All equipments</p>
          <button (click)="goToUrl()">BOOK NOW</button>
          
        </div>
      </div>
      <div class="row mobile-version">
        <div class="col-6">
          <p style="margin-top: 20px;">Single Session <span>$40</span></p>
            <p>4 sesions <span>$152</span></p>
            <p>10 sesions <span>$360</span></p>
        </div>
        <div class="col-6">
          <p>20 sesions <span>$680</span></p>
            <p>40 sesions <span>$1160</span></p>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12 col-xs-12 alternColoum">
        <div class="row  ">
          <div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 desktopVersion">
            <h2>Pricing Options:</h2>
            <p>Single Session <span>$40</span></p>
            <p>4 sesions <span>$152</span></p>
            <p>10 sesions <span>$360</span></p>
          </div>
          <div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 desktopVersion">
            <p>20 sesions <span>$680</span></p>
            <p>40 sesions <span>$1160</span></p>
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12 desktopVersion ">
              <img src="../../../assets/studio/IMG_9083.jpg" alt="" class="img-fluid desktop-version">

          </div>
        </div>
      </div>
      
    </div>
    <div class="row cardsPrice row2 cardsFlex" style="background-color: antiquewhite">
      <div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 wrapperCards mobileFlex">
        <div class="cardsPrices">
          <h1>Small group (5 person )</h1>
          <p>Mat-pilates</p>
          <button (click)="goToUrl()">BOOK NOW</button>
        </div>
      </div>
      <div class="row mobile-version" style="margin-top: 20px;">
        <div class="col-6">
          <p>Single Session <span>$25</span></p>
          <p>4 sesions <span>$92</span></p>
            <p>10 sesions <span>$210</span></p>
        </div>
        <div class="col-6">
          <p>20 sesions  <span>$400</span></p>
          <p>40 sesions  <span>$720</span></p>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12 col-xs-12 secondColum">
        <div class="row">
            <div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 desktopVersion ">
                <h2 style="color: black;">Pricing Options:</h2>
                <p>Single Session <span>$25</span></p>
                <p>4 sesions <span>$92</span></p>
                <p>10 sesions <span>$210</span></p>
            </div>
            <div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 desktopVersion">
 
                <p>20 sesions  <span>$400</span></p>
                <p>40 sesions  <span>$720</span></p>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12 desktopVersion ">
                <img src="../../../assets/studio/IMG_9172.jpg" alt="" class="img-fluid ">
            </div>
        </div>
      
      </div>
    </div>
    <div class="row row3 cardsFlex thirdCard">
      <div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 wrapperCards mobileFlex">
        <div class="cardsPrices">
          <h1 style="color: black">Private Class</h1>
          
          <button (click)="goToUrl()">BOOK NOW</button>
        </div>
      </div>
      <div class="row mobile-version" >
        <div class="col-6">
          <p style="margin-top: 20px;">Single Session <span>$40</span></p>
          <p>4 sesions  <span>$228</span></p>
            <p>10 sesions  <span>$550</span></p>
        </div>
        <div class="col-6">
          <p>20 sesions  <span>$1040</span></p>
          <p>40 sesions  <span>$2000</span></p>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12 col-xs-12 desktopVersion">

        <div class="row cardsPrice">
            <div class="col-lg-3 col-sm-12 col-xs-12 col-md-12">
                <h2 style="color: white;">Pricing Options:</h2>
                <p>Single Session <span>$60</span></p>
                <p>4 sesions  <span>$228</span></p>
                <p>10 sesions  <span>$550</span></p>
            </div>
            <div class="col-lg-3 col-sm-12 col-xs-12 col-md-12">
                
        <p>20 sesions  <span>$1040</span></p>
        <p>40 sesions  <span>$2000</span></p>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12 desktopVersion" >
                <img src="../../../assets/studio/private.jpg" alt="" class="img-fluid">
            </div>
        </div>
      
      </div>
    </div>
    <div class="row cardsPrice row4 cardsFlex" style="background-color: antiquewhite">
      <div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 wrapperCards mobileFlex">
        <div class="cardsPrices">
          <h1>Online class</h1>
          <button (click)="goToUrl()">BOOK NOW</button>
        </div>
      </div>
      <div class="row mobile-version">
        <div class="col-6">
          <p style="margin-top: 20px;">Single Session <span>$40</span></p>
          <p>4 sesions <span>$152</span></p>
            <p>10 sesions <span>$360</span></p>
        </div>
        <div class="col-6">
          <p>20 sesions <span>$680</span></p>
            <p>40 sesions <span>$1160</span></p>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12 col-xs-12 secondColum desktopVersion">

        <div class="row">
            <div class="col-lg-3 col-sm-12 col-xs-12 col-md-12">
                <h2 style="color: black;">Pricing Options:</h2>
                
                <p>Single Session <span>$40</span></p>
        <p>4 sesions <span>$152</span></p>
        <p>10 sesions <span>$360</span></p>
            </div>
            <div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 desktopVersion">
                <p>20 sesions <span>$680</span></p>
                <p>40 sesions <span>$1160</span></p>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12 desktopVersion">
                <img src="../../../assets/studio/online.png" alt="" class="img-fluid">
            </div>
        </div>
        
      
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
