<app-header></app-header>

<section>
  <article>
    <div class="container">
      <div class="row marginHome">
        <div class="col-12">
          <div class="text-main">
            <h1>Introducing Vida Pilates</h1>
            <p>Vida Pilates doesn't just change bodies, it transforms lives.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12 col-xs-12 col-md-12">
          <div class="about-text">
            <h1>
              Vida Pilates is inclusive, accessible and fun. We’re not about
              sculpting your ‘summer bod’, we’re here to teach you stability,
              strength and flexibility, apart of a community for everybody.
              Located in the heart of Sydney’s Inner West, our schedule of
              classes will both energise and challenge you, drawing on a dynamic
              mix of reformer, mat and barre techniques.
            </h1>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12"></div>
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12">
          <div class="val-text text-main">
            <h1>Val Padilha</h1>
            <p style="width: 50%">
              Valdirene Padilha journey to becoming a Pilates instructor began
              10 years ago when she completed her bachelors degree in
              Physiotherapy and post graduate degree in Pilates in Brazil.
            </p>
          </div>
          <div class="val-image">
            <img src="../../../assets/val-1-1.jpg" alt="" />

          </div>
        </div>
      </div>
    </div>
    <app-footer class="footer1"></app-footer>
  </article>
</section>
