<app-header></app-header>

<section>
  <article>
    <div class="container">
      <div class="row marginHome mobileHome">
        <div class="col-12">
          <div class="text-main">
            <h1>Introducing Vida Pilates</h1>
            <p>Vida Pilates doesn't just change bodies, it transforms lives.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12 col-xs-12 col-md-12">
          <div class="about-text">
            <div class="image-mobile mobile-version">
              <img class="img-fluid" src="../../../assets/studio/IMG_9083.jpg" alt="">
            </div>
            <h1 style="margin-top: 20px;">
              Vida Pilates is an inclusive, accessible and fun community that is open to everyone, of all fitness levels. 

              Located in the heart of Rockdale, only a few steps from the station, our classes are private or semi-private and are customised and focused to maximise your results.
              We offer a dynamic mix of mat and equipment classes to suit your lifestyle including Reformer, Chair, Cadillac and Ladder Barrel, and if you are still not ready to come back to in person classes, online classes are also available for your convenience.  
              We believe that Pilates is not about sculpting your ‘summer body’, it is about improving your lifestyle by increasing your strength, flexibility and reducing any injury related pain.
              
            </h1>
          </div>
         
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12"></div>
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12">
          <div class="val-text text-main">
            <h1>Val Padilha</h1>
            <div class="val-image">
              <img src="../../../assets/val-1-1.jpg" alt="" />

            </div>
            <p style="width: 50%">
              Val’s journey to becoming a Pilates instructor began 10 years ago when she completed her bachelor’s degree in Physiotherapy and post graduate degree in Pilates in Brazil. She has been working as a Pilates instructor since then. 

              She’s passionate about body movement, and believes that being active is the key to a long and healthy life. 
              
            </p>
          </div>
        
        </div>
      </div>
    </div>
    <app-footer class="footer1"></app-footer>
  </article>
</section>
