section {
    background-image: url('../../../assets/backgroundflat.png');
    height: 100vh;

.marginHome {
    margin-top: 80px;
}
    .text-about {
        margin-top: 100px;
        text-align: center;
    }

    .text-main {
        margin-top: 100px;
        h1 {
            font-family: Playfair Display   ;
            font-size: 59px;
        }
        p {
            margin-top: 30px;
            font-family: Raleway;
            font-size: 19px;
            color: #6B6B6B;
        }
    }

    .val-text {
        margin-top: 80px!important;
    }

    .about-text {
        h1 {
            font-family: Raleway;
            font-size: 16px;
            color: #6B6B6B;
        }
    }

    .val-image {
        img {
            width: 300px;
        }
    }
 
}




    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-color: rgb(233, 150, 150);
        font-family: 'Open Sans'
    }
    
    #demo {
        background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
        max-width: 900px;
        margin: auto;
    
    }
    
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 5rem 8rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 1.2rem;
        font-style: italic;
        font-weight: bold;
        line-height: 2rem
    }
    
    @media(max-width:767px) {
        section {
            padding-right: 15px;
            padding-left: 15px;

        }
        .carousel-caption {
            position: initial;
            z-index: 10;
            padding: 3rem 2rem;
            color: rgba(78, 77, 77, 0.856);
            text-align: center;
            font-size: 0.7rem;
            font-style: italic;
            font-weight: bold;
            line-height: 1.5rem
        }
        .text-main  {
            h1 {
                line-height: 55px!important;
            }
        }
    }
    
    .carousel-caption img {
        width: 6rem;
        border-radius: 5rem;
        margin-top: 2rem
    }
    
    @media(max-width:767px) {
        .carousel-caption img {
            width: 4rem;
            border-radius: 4rem;
            margin-top: 1rem
        }
    }
    
    #image-caption {
        font-style: normal;
        font-size: 1rem;
        margin-top: 0.5rem
    }
    
    @media(max-width:767px) {
        #image-caption {
            font-style: normal;
            font-size: 0.6rem;
            margin-top: 0.5rem
        }
    }
    
    i {
        background-color: #E0745F;
        padding: 1.4rem
    }
    
    @media(max-width:767px) {
        i {
            padding: 0.8rem
        }
    }
    
    .carousel-control-prev {
        justify-content: flex-start
    }
    
    .carousel-control-next {
        justify-content: flex-end;
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        transition: none;
        opacity: unset;
        cursor: pointer;

    }


 
