<app-header></app-header>

<section [ngSwitch]="contactPage">
  <article>
    <div class="container" *ngSwitchCase="'sendEmail'">
      <body>
        <section class="ftco-section">
          <div class="container">
            <div class="row justify-content-center"></div>
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="wrapper">
                  <div class="row no-gutters">
                    <div class="col-lg-6">
                      <div class="contact-wrap w-100 p-md-5 p-4">
                        <h3>Contact us</h3>
                        <p class="mb-4">
                          We're open for any suggestion or just to have a chat
                        </p>
                        <div id="form-message-warning" class="mb-4"></div>
                        <div id="form-message-success" class="mb-4">
                          Your message was sent, thank you!
                        </div>
                        <div class="row mb-4">
                          <div class="col-md-4">
                            <div class="dbox w-100 d-flex align-items-start">
                              <div class="text">
                                <p>
                                  <span>Address:</span> 117 Railway Street,
                                  Rockdale, 2216
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="dbox w-100 d-flex align-items-start">
                              <div class="text">
                                <p>
                                  <span>Email:</span>
                                  <a href="info@vidapilates.com.au"
                                    >info@vidapilates.com.au</a
                                  >
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="dbox w-100 d-flex align-items-start">
                              <div class="text">
                                <p>
                                  <span>Phone:</span>
                                  <a href="tel://1234567920"> 0417225371</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <form
                          action="https://formspree.io/f/xdoybqrn"
                          method="POST"
                          [formGroup]="contactForm"
                          (ngSubmit)="onSubmit()"
                        >
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <input
                                  type="text"
                                  class="form-control"
                                  name="name"
                                  formControlName="name"
                                  id="name"
                                  placeholder="Name"
                                />
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <input
                                  type="email"
                                  class="form-control"
                                  name="email"
                                  formControlName="email"
                                  id="email"
                                  placeholder="Email"
                                />
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <input
                                  type="text"
                                  class="form-control"
                                  name="subject"
                                  formControlName="subject"
                                  placeholder="Subject"
                                />
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <textarea
                                  name="message"
                                  formControlName="Comment"
                                  class="form-control"
                                  id="message"
                                  cols="30"
                                  rows="4"
                                  placeholder="Create a message here"
                                ></textarea>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <input
                                  type="submit"
                                  value="Send Message"
                                  class="button-contact"
                                />
                                <div class="submitting"></div>
                              </div>
                            </div>
                          </div>
                     
                        </form>
                        <div class="w-100 social-media mt-5">
                          <h3>Follow us here</h3>
                          <p>
                            <a href="https://www.instagram.com/vidapilatesau/">Facebook</a>
                            <a href="https://www.facebook.com/vidapilatesau">Instagram</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-stretch">
                      <div class="info-wrap w-100 p-5 img"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </body>
    </div>
    <div class="container thanks" *ngSwitchCase="'thanksForEmail'">
      <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>Thanks for choice Vida Pilates</strong> We will contact you soon.</p>
        <hr>
        
        <p class="lead">
          <a class="btn btn-primary btn-sm" [routerLink]="''" role="button">Continue to homepage</a>
        </p>
      </div>
    </div>
  </article>
</section>
<app-footer></app-footer>
