<section class="footer1 desktop-version">
    <article>
        <div class="container">
            <div class="row">
                <div class="col-12 text-align-center">
                    <div class="title-footer">

                    <h1>
                        2 Weeks of Unlimited Classes for $99
                    </h1>
                    <button class="oragen" [routerLink]="['/book']">
                      BOOK NOW 
                    </button>
                </div>

                </div>
            </div>
        </div>
    </article>
</section>
<section class="footer2 desktop-version">
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-xs-12 col-md-12 ">
                    <div class="logo" [routerLink]="['']">
                        <img src="../../../assets/logo-footer.png" alt="" >
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12 col-xs-12 col-md-12 footer-menu">
                    <div class="row">
                        <div class="col-4">
                            <ul>
                                <li [routerLink]="['about']"><p>About Us</p></li>
                                <li [routerLink]="['more']"><p>Pilates</p></li>
                                <li><p>Our Method</p></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul>
                                <li [routerLink]="['/book']"><p>Book a class</p></li>
                                <li><p>Free Class</p></li>
                                <li><p>Our Prices</p></li>
                            </ul>
                        </div>
                     
                        <div class="col-4">
                            <ul>
                                <li [routerLink]="['/studios']"><p>Our Studio</p></li>
                                <li  [routerLink]="['/contact']"><p>Localion</p></li>
                                <li  [routerLink]="['/contact']"><p>Contact Us</p></li>
                                
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="icons">
                                    <a href="https://www.instagram.com/vidapilatesau/"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.facebook.com/valvidapilates"><i class="fab fa-facebook-square"></i></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <hr class="solid">
                <div class="row">
                    <div class="col-6">
                        <div class="bottom">
                            <h1>VIDA PILATES © 2021 - Australia, All rights reserved.</h1>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bottom">
                            <div class="row">
                                <div class="col-6">
                                    <h1>Terms & Conditions.</h1> 
                                </div>
                                <div class="col-6">
                                    <span>Privacy Policy</span>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </article>
</section>
