<section>
  <article>
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-main">
            <h1>Hey , pilates lovers</h1>
            <p>
              We are working in a integration with Body Mindbody system <br />
              in a main while you can book by: email, whatsapp or Calling:
            </p>
            <i class="fas telefone fa-phone"></i> <span>0448222438.</span>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12 margin-top">
          <div class="booking-form">
            <div class="form-header">
              <h1>Email</h1>

              <i class="far fa-envelope-open"></i>
            </div>
            <form>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Full Name"
                />
                <span class="form-label">Destination</span>
              </div>

              <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="email"
                      placeholder="Enter your Email"
                    />
                    <span class="form-label">Email</span>
                  </div>
                </div>
              </div>
              <div class="form-btn">
                <button class="submit-btn">Book Now</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12">
          <div class="booking-form">
            <div class="form-header">
              <h1>WhatsApp</h1>
              <i class="fab fa-whatsapp"></i>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Full Name" />
              <span class="form-label">Destination</span>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12"></div>
              <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12"></div>
            </div>

            <div class="col-12"></div>
            <div class="form-btn">
              <button class="submit-btn">Book Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row footer-3">
  <div class="col-12">
    <app-footer></app-footer>
  </div>
</div>
