<app-header></app-header>

<section >
  <article>
    <div class="container">
      <div class="row marginHome">
        <div class="col-lg-9 col-sm-12 col-xs-12 col-md-12">
          <div class="text-main">
            <h1>VIDA PILATES - <span>Rockdale</span></h1>
            <div class="row">
              <div class="col-9">
                <p>
                  WELCOME TO OUR ROCKDALLE PILATES REFORMER STUDIO WE ARE
                  LOCATED IN 2 ROBERTSON STRET, ROCKDALE
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row carousel">
        <div class="col-12">
          <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
        </div>
      </div>

      <div class="row mapa">
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12">
          <div class="location text-main">
            <h1 class="text-align-center">Location Map</h1>
            <p>
              Located just steps from the ocean, our Hall Street studios include
              a yoga space designed with healing architecture, sauna, the latest
              in retail, and a two Pilates studios with state-of-the-art
              reformer machines. Bondi Beach Yoga and Pilates: 40 Hall Street,
              Bondi Beach, between Consett Avenue and Chambers Street Bondi
              Beach Pilates: 41 Hall Street, Bondi Beach (across the road)
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12">
            <div class="photo-map">
                <img src="../../../assets/mapa.png" alt="">
            </div>
        </div>
      </div>
    </div>
  </article>
</section>
<app-footer></app-footer>
